<!-- <p>album-details works!</p> -->
<div class="card">
    <img class="card-img-top" src="./assets/images/default_image.png" alt="Group Music">
    <div class="card-body">
        <h5 class="card-title">Dark</h5>
        <p class="card-text">Punk electro</p>
        <a href="#" class="btn btn-primary">Play >> </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor = "let list of albumList">{{list}}</li>
        <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li> -->
    </ul>
</div>