<div class="card shadow-lg mb-4 mt-4" *ngIf = "album" [@fadeInAnimation]>
    <div class="card-header">
         {{album.ref}} 
    </div>
    <div class="card-body">
        <h5 class="card-title"><a class = "text-info"> {{album.title}} </a> </h5>
        <p>Name : {{album.name}}</p>
        <p class="card-text">{{album.description}}</p>
        <div><img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" /><small>{{album.like}}</small></div>
        <div><img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" /><small>{{album.duration}}</small></div>
        <a class="btn btn-outline-dark tag-contour bg-info border border-info me-3" href="#" role="button" *ngFor = "let tag of album.tags">{{tag}}</a>
        <img class="card-img-top container d-block my-auto w-50 mt-4"  src = "{{album.url}}" alt = "Group Music">
        
    </div>
</div> <!--card-->
